# This is a config file for EyeWitness.  You can use this to store values that you don't want to
# have to continually set.  The "priority" for how values are set are
# default values set in EyeWitness -> Config File values -> command line values
# Command line options trump all other values.

# Max timeout value for web requests
# Possible values: any integer/number
#timeout=25

# User Agent to impersonate
# Possible values: Any string/Useragent value you want to use
#useragent=Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0)

# Number of seconds to use as a base to deviate from when requesting web pages
# Possible values: any integeter/number
#jitter=30

# Number of results per page of the report
# Possible values: any integer/number
#results=25

# When parsing nmap xml, use the IP address and not the DNS name of the web server
# Possible values: true, false
#nodns=false

# Value used for your proxy's IP address.
# Possible values: valid IPs, or "localhost"
#proxy_ip=127.0.0.1

# The port that your proxy is listening on.
# Possible values: 1-65535
#proxy_port=8080

# Uncomment if you want EyeWitness to follow 302 Redirects
# Possible values: true, false
#redirects=true