<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.7.82" targetFramework="net45" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net45" />
  <package id="Fody" version="6.1.1" targetFramework="net45" developmentDependency="true" />
  <package id="IPNetwork2" version="2.6.427" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net45" />
  <package id="System.Memory" version="4.5.5" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net45" />
</packages>